[submodule "dibs-backend"]
	path = dibs-backend
	url = https://github.com/DawtDawt/dibs-backend
	branch = deploy
[submodule "dibs-frontend"]
	path = dibs-frontend
	url = https://github.com/yehmond/dibs-frontend
